<div class="main-content">

    <div class="container">
        <div class="d-flex justify-content-end mb-5">
            <%= link_to "Create new", new_listing_path, class: "btn btn-primary" %>
        </div>
        <%= render "shared/display_listings" %>
        <div class="container mt-5">
            <%= will_paginate @listings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
        </div>
    </div>
</div>