<% if flash[:notice] %>
    <div class="flash-alert alert alert-success mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="flash-alert alert alert-danger mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="flash-alert alert alert-warning mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
    </div>
<% end %>
