<div class="main-content container">
<h2>About</h2>
    <article class="mt-5">
        <h3>Created By: Vincent Lieu</h3>
        <div>
            <a href="https://github.com/vincentlieu/">GitHub</a>
        </div>
        <br>
        <p>HYPERBOLIC is a two-sided marketplace web application to facilitate the selling and purchasing of hype streetwear; where users are able to list products for sale and purchase them through Stripe checkout that has been integrated in the market place.  </p>
        <h3>Accounts:</h3>
        <p>Users are able to register for an account; providing them with access to purchase or sell goods. HYPERBOLIC provides the ability to customise their profile by adding a profile picture or biography of themselves. There are no restriction if a potential customer wants to view the available products on the market however to make purchases or sell goods they are required to register.</p>
        
        <h3>Listings:</h3>
        <p>All registered users have the ability to view all listings available on the market place. They will also be able to create, modify, remove their individual listing.</p>

        <h3>Purchasing:</h3> 
        <p>All registered users will have the ability to make a purchase for a listing through Stripe's integrated payment gateway. </p>

        <h3>Purchase tracking:</h3>
        <p>All registered users have the ability to track their purchases through their user profile. It provides them with details on date of purchase, the item purchased and their receipt.</p>

        <h3>Listing tracking:</h3>
        <p>All registered user have the ability to track their listings through their user profile. They will be able to see when they posted the item; at what cost and provide them with a status on whether the item is still currently active or sold.</p>

        <h3>Favourites:</h3>
        <p>All registered users have the ability to favourite listings. This gives them the ability to track listings that are currently on the market.</p>
    </article>
</div>