<div class="main-content container">
    <h2>Help</h2>
    <article class="mt-5">
    <h3>Creating an account</h3>
    <p>To be able to use the marketplace at it's fullest potential. Please register for an account through the navigation bar. You will be required to provide an email address.</p>
    <br>
    <h3>Viewing listings</h3>
    <p>By clicking on the browse button in the navigation bar you will be able to view all the available products on the market. You can search by title, description, brand, condition or category.</p>
    <br>
    <h3>Selling</h3>
    <p>Once registered, you can create a new listing by clicking on the 'Create new' button. You should provide a title, price, what type of product you are selling, what it's condition a brief description and picture. This increases your chance of your listing being looked at by other users!</p>
    <br>
    <h3>Purchasing</h3>
    <p>If there is a product you are interested in purchasing; simply click on the 'Purchase' button to be redirected to Stripe's checkout; where you can enter in your credit card details and initiate the purchase. All your purchases can be tracked under your user profile located in the drop-down of the navigation bar.</h3>
    <br>
    <h3>Termination</h3>
    <p>If you wish to terminate your account. You can simply do that by clicking on the Cancel account under edit profile. Hope to see you again!</p>
    </article>
</div>